<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<title>Office Sales Entry</title>
</head>
<body>

<h2>Office Sales Entry</h2>

<form method='post'>

<h3>Refill Sales</h3>
Cash Qty: <input name='refill_cash' type='number' value='0'><br>
QR / Online Qty: <input name='refill_online' type='number' value='0'><br>

<h3>Other Sales</h3>
SV Qty: <input name='sv' type='number' value='0'><br>
Suraksha Pipe Qty: <input name='pipe' type='number' value='0'><br>
Blue Book Qty: <input name='book' type='number' value='0'><br>
DPR Paid Qty: <input name='dpr_paid' type='number' value='0'><br>
DPR Free Qty: <input name='dpr_free' type='number' value='0'><br>

<button type='submit'>Save Sales</button>

</form>

<br>
<a href='/office'>Back</a>

</body>
</html>
